/* ===== FOOTER ===== */
.footer {
  background: #111;
  color: #ccc;
}

/* ===== CONTAINER ===== */
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* ===== LOGO ===== */
.footer-logo {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.footer-logo span {
  color: var(--primary);
}

/* ===== HEADINGS ===== */
.footer-col h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
}

/* ===== TEXT ===== */
.footer-col p {
  font-size: 14px;
  color: #aaa;
  line-height: 1.6;
}

/* ===== LINKS ===== */
.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ccc;
  font-size: 14px;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: var(--primary);
}

/* ===== SOCIAL ===== */
.socials {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.socials span {
  font-size: 18px;
  cursor: pointer;
}

/* ===== BOTTOM ===== */
.footer-bottom {
  border-top: 1px solid #222;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 14px;
  color: #888;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }
}